.hire-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ccc;
  padding: 30px 25px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  box-sizing: border-box;
}

.form-box input,
.form-box textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid #999;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
}

textarea {
  height: 80px;
  resize: vertical;
  border: 1px solid rgb(89, 7, 109);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.form-actions button {
  flex: 1;
  min-width: 100px;
  height: 45px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-actions .send {
  background-color: red;
}
.form-actions .send:hover {
  background-color: rgb(189, 8, 8);
}

.form-actions .close {
  background-color: rgb(41, 41, 255);
}
.form-actions .close:hover {
  background-color: rgb(3, 3, 149);
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .form-box {
    width: 350px;
    padding: 25px 20px;
  }
}

@media (max-width: 480px) {
  .form-box {
    width: 90%;
    padding: 20px;
  }

  .form-actions {
    flex-direction: column;
    gap: 15px;
  }

  .form-actions button {
    width: 100%;
    padding: 10px;
  }
  input{
    padding: 10px;
  }

  textarea {
    height: 55px;
  }
}
