
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
  overflow: hidden;
  background: #1a1a1f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(40%);
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  position: relative;
  z-index: 1;
}

.hero-text {
  max-width: 55%;
}

.hero-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-text h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 18px;
  font-style: italic;
}

.hero-btn {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.hero-text button {
  width: 120px;
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: white;
}

.hireme {
  background-color: #254DBB;
}
.hireme:hover {
  background-color: #1E3A8A;
}

.contact {
  background-color: #3c3434;
}
.contact:hover {
  background-color: #5a5050;
}

.hero-img img {
  width: 600px;
  height: auto;
  border-radius: 20px;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
}

.hero-data {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.data-container {
  text-align: center;
}

.data-container span {
  font-size: 14px;
}


@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .hero-text {
    max-width: 90%;
    text-align: center;
  }

  .hero-img img {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 24px;
  }

  .hero-text h3 {
    font-size: 20px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .hero-btn {
    flex-direction: column;
    gap: 15px;
  }

  .hero-text button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .hero-img img {
    width: 250px;
    height: auto;
    margin-top: 20px;
  }

  .hero-data {
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
}
